.site-width{
  max-width: 800px;
  margin:0 auto;
}

h1 {
  text-align: center;
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  background-color: #d4d4d4;
  margin-bottom: 10px;
}

img {
  width: 100px;
  height: auto;
}

li div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 80%;
  padding-left: 10px;
  margin: 10px
}
